body {
    margin: 0;
    background-color: #191919;
}
#navbar {
    background-color: rgba(48,48,48,0.5);
    position: sticky;
    height: 56px;
}

#nav-start {
    border: 1px solid white;
    width: 50px;
    height: 50px;
}

#hamburger {
    width: 50px;
    height: 50px;
    margin-left: 30px;
    padding-top: 20px;
}

.hamburger-layer {
    width: 20px;
    height: 2px;
    background-color: white;
    margin-top: 3px;
  } 

  #youtube-logo {
      width: 80px;
      height: 100%;
      cursor: pointer;
  }

  #logo {
    margin-top: -50px;
    margin-left: 80px;
  }

  #search-bar {
      width: 575px;
      height: 27px;
      margin-right: 120px;
      background-color: rgba(0,0,0,0.2);
      border-style: solid;
      border: 1px solid rgba(48,48,48,0.9);
      font-size: 16px;
      padding-left: 10px;
      color: white;
      border-radius: 1px;
  }

  #search-bar:focus {
    outline: 1px solid rgba(13, 75, 245, 0.5);
  }

  .nav-center {
      text-align: center;
      margin-top: -30px;
  }

  #search-btn {
      position: absolute;
      width: 65px;
      height: 30px;
      margin-top:1px;
      background-color:grey;
      border-style: solid;
      margin-left: -125px;
      border-radius: 1px;
      cursor: pointer;
  }

  .nav-end {
      margin-right: 50px;
      margin-top: -30px;
      float: right;
  }
  
  #create {
      width: 30px;
      height: 30px;
      cursor: pointer;
  }

  #apps {
    width: 30px;
    height: 30px;
    margin-left: 50px;
    margin-top: -30px;
    cursor: pointer;
  }

  #notifications {
    width: 30px;
    height: 30px;
    margin-left: 100px;
    margin-top: -30px;
    cursor: pointer;
}

  #sign-in {
    width: 30px;
    height: 30px;
    width: 30px;
    height: 30px;
    margin-left: 150px;
    margin-top: -30px;
    cursor: pointer;
}

#videoplayer {
    margin-left: 100px;
    margin-top: 30px;
}

#video-info {
    color: white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
}

#views {
    margin-top: 10px;
    color: grey;
    font-size: 14px;
    font-family: Roboto, arial, sans-serif;
}

#menu {
    float:right;
    margin-top: -33px;
    margin-right: 480px;
    color: grey;
    font-family: Roboto, arial, sans-serif
}

#like-btn {
    height: 20px;
    width: 20px;
    margin-right: 15px;
    margin-left: 15px;
    cursor: pointer;
}

#dislike-btn {
    height: 20x;
    width: 20px;
    margin-right: 15px;
    margin-left: 15px;
    cursor: pointer;
}

#share {
    height: 15px;
    width: 15px;
    margin-right: 15px;
    margin-left: 15px;
    cursor: pointer;
}

#save {
    height: 15px;
    width: 15px;
    margin-right: 15px;
    margin-left: 15px;
    cursor: pointer;
}

#options {
    height: 35px;
    width: 35px;
    margin-right: 15px;
    margin-left: 15px;
    cursor: pointer;
}

.line {
    border: 0.1px solid rgba(71, 70, 70, 0.5);
    margin-top: 30px;
    width: 956px;
    margin-right: 465px;
}

#sidebar {
    color: white;
    float: right;
    margin-top: -640px;
    margin-right: 280px;
    font-family: Roboto, arial, sans-serif;
}

#next-vid-img {
    margin-top: 10px;
}

#next-vid-info {
    position:absolute;
    font-size: 14px;
    margin-left: 180px;
    margin-top: -100px;
}

.grey-text {
    margin-top: 2px;
    font-size: 12;
    color: grey;
}

#next-vid-hr {
    position: absolute;
    width: 400px;
    border: 0.1px solid rgba(71, 70, 70, 0.5);
}

#recommend-video {
    margin-top: 10px;
    position: absolute;
}

.recommend-vid-img {
    margin-top: 10px;
    padding-top: 25px;
}

.recommend-vid-info {
    font-size: 14px;
    margin-left: 180px;
    margin-top: -100px;
}

#profile-pic {
    border-radius: 30px;
}

#profile-info {
    margin-left: 60px;
}

#video-description {
    margin-left: 100px;
    margin-top: 20px;
}

.white {
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
}

.channel-name {
    margin-left: 60px;
    margin-top: -45px;
}

.channel-subs {
    margin-left: 60px;
    font-size: 14px;
    font-family: Roboto, Arial, sans-serif;
}

#subscribe {
width: 100%;
height: 100%;
}

#sub-btn {
    margin-left: 800px;
    margin-top: -40px;
    width: 110px;
    height: 50px;
}

.blocky-grey {
    color: grey;
    font-weight: bold;
    font-family: Roboto, Arial, sans-serif
}

.comments {
    font-size: 17;
    margin-left: 100px;
}

.sort-btn {
    margin-left: 25px;
}